.skillsImg{
     height:55px;
    width:70px; 
    /* background-color: black; */
    background-color: chartreuse;
    border-radius: 10px;
}

.aboutBody{
    margin-top: 10rem;
    /* height:100vh;
    width:100vw; */
}



  
 
  







/* --------------------- */

/* .technicalCol{
    animation-name: technical;
    background-color:black;
    position: absolute;
    transform: translateY(150px);
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
    animation-duration: 4s;
    
    
}

@keyframes technical {
    0% {left:0px; top:0px}
    25% {left:200px; top:0px}
    50% {left:200px; top:200px}
    75% {left:0px; top:200px}
    100% {left:0px; top:0px}    
} */

.technicalAnimation {
    position: absolute;
    animation: technicalmove 3s forwards ease-out;
    animation-direction: normal;
  }
  
  @keyframes technicalmove {
    0% {
      left: 0px;
      top: 0px;
    }
  
    100% {
      left: 25rem;
      top: 0rem;
    }
  }
  
  


  .revealSkills {
    position: relative;
    transform: translateX(150px);
    opacity: 0;
    transition: 2s all ease;
  }
  
  .revealSkills.active {
    transform: translateX(0);
    opacity: 1;
    /* background-color: black; */
    border-radius: 50px;
  }