/* .body {
    /* background-color: #1d1d1d; */
 
  /* }  */
  .nameClass {
    margin-top: 6rem;
  
    font-family: Roboto Mono;
    color: aliceblue;
    font-size: 3rem;
    font-weight: 500;
  }

  .typedOut {
    overflow: hidden;
    white-space: nowrap;
    animation: typing 2s alternate infinite;
  }
  
  @keyframes typing {
    from {
      width: 0%;
    }
  
    to {
      width: 85%;
    }
  }
  




